@import 'material.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $Pop;
}

// Nav
header {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  background: $nav;
  .navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // height: 40px;
  }
}
.logo {
  width: 130px;
  height: auto;
}
.primary-nav,
.secondary-nav {
  display: flex;
  .nav-link {
    margin: 0 20px;
    a {
      color: $colnav;
      font-weight: 500;
      font-size: $sm;
      letter-spacing: 0.4px;
      transition: all 0.3s ease;
      &:hover {
        color: $white;
      }
    }
  }
}
.primary-nav {
  flex: 1 1 auto;
  .con {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 15%;
      height: 30%;
      top: 6px;
      right: -18px;
      transform: rotate(45deg);
      border-bottom: 2px solid $colnav;
      border-right: 2px solid $colnav;
      transition: 0.4s ease-in-out;
      cursor: pointer;
    }
    &:hover::after {
      transform: rotate(-130deg);
    }
  }
}
.secondary-nav {
  //Wait
}
.btn {
  @include btn;
}
.beli {
  transition: color 0.4s ease-in-out;
  font-size: 14px;
  &:hover {
    color: #a6f6f1;
  }
}
@media only screen and (max-width: 1080px) {
  .primary-nav,
  .secondary-nav {
    .nav-link {
      margin: 0 18px;
      a {
        color: $colnav;
        font-weight: 500;
        font-size: 11px;
      }
    }
  }
}
@media only screen and (max-width: 910px) {
  header {
    .navbar {
      width: 94%;
      margin: auto;
      justify-content: space-between;
    }
  }
  .primary-nav,
  .secondary-nav {
    .nav-link {
      margin: 0 0.8em;
      a {
        color: $colnav;
        font-weight: 500;
        font-size: 10px;
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  header {
    position: relative;
    width: 100%;
    background: $nav;
    .navbar {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      // height: 40px;
    }
  }
  .logo {
    width: 130px;
    height: auto;
  }
  .primary-nav,
  .secondary-nav {
    display: none;
  }
}

// Hero
.container {
  width: 100%;
  position: relative;
  height: 83vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0.9836309523809523) 0%,
      rgba(0, 0, 0, 0) 29%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
.container video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 83vh;
  z-index: -3;
  filter: brightness(60%);
}
#judul {
  width: 100%;
  height: auto;
  position: relative;
}
.quotes {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  position: absolute;
  top: 65%;
  margin-left: 5vw;
  transform: (0, -150px);
  z-index: 10;
  filter: drop-shadow(1px 1px 10px #000000);
  img {
    width: 240px;
    height: auto;
  }
  h3 {
    color: #a59d95;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: $xxl;
    line-height: 45px;
    font-family: $roboto;
  }
}
// btn hero
.tombol {
  margin-top: 1em;
  max-width: max-content;
  .btn-hero {
    @include btn;
    &::before {
      border-top: 2px solid #9ddac6;
      border-bottom: 2px solid #9ddac6;
    }
    &:hover {
      color: #a6f6f1;
    }
  }
}
// akhir btn hero

// play and pause
.kotak {
  position: absolute;
  right: 0;
  bottom: 0;
  .tbl {
    border: none;
    opacity: 0;
    background: transparent;
    &:hover {
      opacity: 1;
    }
  }
  .far,
  .fas {
    margin-right: 15px;
    font-size: 25px;
    color: $colnav;
  }
}
// akhir play and pause

// HERO
@media only screen and(min-width: 1440px) {
  .quotes {
    img {
      width: 280px;
      height: auto;
    }
    h3 {
      font-size: $xxxl;
      line-height: 50px;
    }
  }
  .tombol {
    margin-top: 2em;
  }
}
@media only screen and(max-width: 560px) {
  .quotes {
    height: max-content;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    transform: translateY(-20%);
  }
  h3 {
    text-align: center;
  }
  .btn-hero {
    margin: 0 0.2em;
  }
}
// AKHIR HERO

// MAIN
.main {
  display: flex;
  flex-direction: row;
}
.image-1,
.image-2,
.image-3 {
  position: relative;
  overflow: hidden;
  background: #000000;
  width: 480px;
  height: 384px;
}

.alex {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5914740896358543) 55%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('/img/alex\ mw.jpg');
  z-index: -100;
  @include gallery;
}
.img {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5830707282913166) 55%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('/img/cod4.png');
  z-index: -100;
  @include gallery;
}
.police {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5830707282913166) 55%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('/img/modern\ warfare.jpg');
  z-index: -100;
  @include gallerydua;
}

@media only screen and(min-width: 1440px) {
  .image-1,
  .image-2,
  .image-3 {
    width: 640px;
  }
}
@media only screen and(min-width: 1024px) {
  .image-1,
  .image-2,
  .image-3 {
    width: 341, 3px;
  }
}
@media only screen and(max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .image-1,
  .image-2,
  .image-3 {
    width: 100%;
    height: 50vh;
  }
}
.text-img {
  display: flex;
  width: max-content;
  height: max-content;
  flex-direction: column;
  position: absolute;
  justify-content: flex-end;
  left: 8%;
  bottom: 8%;
  right: 0;
  color: #d9d0d0;
  z-index: 150;
  h1 {
    text-transform: uppercase;
    color: #d9d0d0;
    font-size: 22px;
    font-weight: 400;
    font-size: $roboto;
    letter-spacing: 0.8px;
  }
  p {
    letter-spacing: 0.5px;
    font-size: 14px;
    padding-bottom: 8px;
  }
  .btn-learn {
    @include btn2;
  }
  .btn-learn-2 {
    @include btn2;
    &::before {
      transform-origin: center;
    }
  }
  .btn-learn-3 {
    @include btn2;
    &::before {
      transform-origin: right;
    }
  }
}
// Akhir main

// Platfrom
#plat {
  position: relative;
  padding: 8em 0;
  background: #000000;
}
.platfrom {
  width: 100%;
  padding: 4em 2em;
  height: 100%;
  .text-plat {
    text-align: center;
    color: #dbdbdb;
    font-family: $roboto;
    font-weight: 500;
    font-size: $xxl;
    letter-spacing: 0.9px;
    padding-bottom: 1em;
  }
}
.os-team {
  display: flex;
  justify-content: center;
  margin: 3em 0;
  padding-bottom: 2em;
  .os {
    border: 1px solid white;
    margin: 0 1em;
    width: 370px;
    height: 274px;
    display: flex;
    position: relative;
    align-items: center;
    justify-self: center;
    .xbox {
      width: 100%;
      height: 100%;
      color: red;
    }
  }
}
.ps {
  @include ps;
}
.windows {
  @include windows;
}

@media only screen and(max-width: 768px) {
  .platfrom {
    flex-direction: column;
  }
  .os-team {
    flex-direction: column;
    align-items: center;
    .os {
      margin: 15px 0;
    }
  }
}
@media only screen and(max-width: 427px) {
  .platfrom {
    padding: 4em 1em;
  }
  .os-team {
    margin: 0;
    .os {
      width: 300px;
      height: 300px;
    }
  }
}
// Akhir Platfrom
// Awal Change
.change {
  display: flex;
  margin-right: 4%;
  flex-direction: column-reverse;
  .change-item {
    display: flex;
    flex-direction: row-reverse;
  }
  label {
    margin-left: 10px;
    .cod,
    .ice-cream {
      position: relative;
      background: transparent;
      color: #dbdbdb;
      border: none;
      &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 200px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        background: red;
      }
      option {
        // opacity: 0;
        color: black;
        background: transparent;
      }
    }
  }
}

.result,
.hasil {
  color: white;
  font-size: 14px;
}

// MAP
.map {
  width: 100%;
  overflow: hidden;
  padding-top: 2em;
  background: $black;
}
.map-img {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  // margin: auto;
  height: 100vh;
  .img-map {
    background: url('../../img/bomb.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    background-position-x: -60px;
    width: 100%;
    height: 100%;
  }
  .map-text {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -10%);
    flex-direction: column;
    position: absolute;
    z-index: 5;
    h2 {
      filter: drop-shadow(2px 2px 10px #000000);
      color: white;
      letter-spacing: 3px;
      font-size: $lgx;
      font-family: $roboto;
      line-height: 50px;
    }
  }
}
.btn-map {
  padding: 8px 50px;
  border: 1px solid #d8d8d8;
  margin-top: 1em;
  color: $colnav;
  letter-spacing: 0.5px;
  transition: all 500ms ease-out;
  &:hover {
    color: rgb(107, 107, 107);
    background: white;
  }
}
@media only screen and(min-width: 1440px) {
  .map-img {
    width: 50%;
    height: 85vh;
    background-position-x: -60px;
  }
  .map-text {
    // transform: translatex(-100%);
  }
}
@media only screen and(max-width: 1024px) {
  .map-img {
    width: 100%;
    height: 100%;
    .img-map {
      width: 100%;
      height: 90vh;
      background-position-x: -450px;
      background-position-y: 80px;
    }
    .map-text {
      left: 38%;
      transform: translateX(-35%);
    }
  }
}
@media only screen and(max-width: 880px) {
  .map-img {
    .img-map {
      background-position-x: -700px;
      background-position-y: 20px;
    }
    .map-text {
      transform: translate(-30%, -10%);
      h2 {
        font-size: 20px;
      }
    }
  }
}
@media only screen and(max-width: 660px) {
  .map-img {
    .img-map {
      background-position: 60%, 10%;
    }
    .map-text {
      text-align: center;
      width: 98%;
      margin: auto;
      transform: translate(-35%);
      h2 {
        font-size: $sm;
        letter-spacing: 1px;
        line-height: 40px;
      }
    }
  }
}
// Akhir map
.bg-custom {
  background: url('/img/bg/Group\ 4.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.sponsor {
  display: flex;
  padding: 5em 0;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.img-sponsor {
  width: 720px;
  margin-right: 10em;
  img {
    width: 100%;
    height: 100%;
  }
}
.text-sponsor {
  color: white;
  text-transform: uppercase;
  ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 12px;
    li {
      padding: 0 1em 1em 1em;
      letter-spacing: 0.4px;
      a {
        color: $colnav;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .ruu {
    padding: 0 0.2em;
    margin: 2em 0;
    max-width: fit-content;
    p {
      align-self: flex-end;
      color: rgb(214, 214, 214);
      font-size: 11px;
      padding-left: 1em;
    }
  }
}
@media only screen and(max-width: 876px) {
  .bg-custom {
    height: 100vh;
  }
  .sponsor {
    flex-direction: column;
    width: 90%;
    padding: 0;
    padding-top: 4em;
    height: 100%;
    margin: auto;
  }
  .img-sponsor {
    width: 660px;
    padding-left: 1em;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text-sponsor {
    margin-top: 2em;
  }
  .img-sponsor {
    width: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}
