*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  width: 100%;
  background: #202020;
}

header .navbar {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 130px;
  height: auto;
}

.primary-nav, .secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-nav .nav-link, .secondary-nav .nav-link {
  margin: 0 20px;
}

.primary-nav .nav-link a, .secondary-nav .nav-link a {
  color: #959595;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .4px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.primary-nav .nav-link a:hover, .secondary-nav .nav-link a:hover {
  color: white;
}

.primary-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.primary-nav .con {
  position: relative;
}

.primary-nav .con::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 30%;
  top: 6px;
  right: -18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 2px solid #959595;
  border-right: 2px solid #959595;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.primary-nav .con:hover::after {
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
}

.btn {
  border: 1px solid #597985;
  position: relative;
  padding: 10px 15px;
  -webkit-box-shadow: inset 0px 0px 5px #597985;
          box-shadow: inset 0px 0px 5px #597985;
  color: #959595;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 2px solid #9DDAC6;
  border-bottom: 2px solid #9DDAC6;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.btn:hover::before, .btn:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.beli {
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
  font-size: 14px;
}

.beli:hover {
  color: #A6F6F1;
}

@media only screen and (max-width: 1080px) {
  .primary-nav .nav-link, .secondary-nav .nav-link {
    margin: 0 18px;
  }
  .primary-nav .nav-link a, .secondary-nav .nav-link a {
    color: #959595;
    font-weight: 500;
    font-size: 11px;
  }
}

@media only screen and (max-width: 910px) {
  header .navbar {
    width: 94%;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .primary-nav .nav-link, .secondary-nav .nav-link {
    margin: 0 .8em;
  }
  .primary-nav .nav-link a, .secondary-nav .nav-link a {
    color: #959595;
    font-weight: 500;
    font-size: 10px;
  }
}

@media only screen and (max-width: 780px) {
  header {
    position: relative;
    width: 100%;
    background: #202020;
  }
  header .navbar {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
  }
  .logo {
    width: 130px;
    height: auto;
  }
  .primary-nav, .secondary-nav {
    display: none;
  }
}

.container {
  width: 100%;
  position: relative;
  height: 83vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, rgba(0, 0, 0, 0.983631) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0) 100%);
}

.container video {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 83vh;
  z-index: -3;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

#judul {
  width: 100%;
  height: auto;
  position: relative;
}

.quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: absolute;
  top: 65%;
  margin-left: 5vw;
  -webkit-transform: 0, -150px;
          transform: 0, -150px;
  z-index: 10;
  -webkit-filter: drop-shadow(1px 1px 10px #000000);
          filter: drop-shadow(1px 1px 10px #000000);
}

.quotes img {
  width: 240px;
  height: auto;
}

.quotes h3 {
  color: #a59d95;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 30px;
  line-height: 45px;
  font-family: "Roboto", sans-serif;
}

.tombol {
  margin-top: 1em;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.tombol .btn-hero {
  border: 1px solid #597985;
  position: relative;
  padding: 10px 15px;
  -webkit-box-shadow: inset 0px 0px 5px #597985;
          box-shadow: inset 0px 0px 5px #597985;
  color: #959595;
}

.tombol .btn-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 2px solid #9DDAC6;
  border-bottom: 2px solid #9DDAC6;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.tombol .btn-hero:hover::before, .tombol .btn-hero:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.tombol .btn-hero::before {
  border-top: 2px solid #9DDAC6;
  border-bottom: 2px solid #9DDAC6;
}

.tombol .btn-hero:hover {
  color: #A6F6F1;
}

.kotak {
  position: absolute;
  right: 0;
  bottom: 0;
}

.kotak .tbl {
  border: none;
  opacity: 0;
  background: transparent;
}

.kotak .tbl:hover {
  opacity: 1;
}

.kotak .far, .kotak .fas {
  margin-right: 15px;
  font-size: 25px;
  color: #959595;
}

@media only screen and (min-width: 1440px) {
  .quotes img {
    width: 280px;
    height: auto;
  }
  .quotes h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .tombol {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 560px) {
  .quotes {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1em;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  h3 {
    text-align: center;
  }
  .btn-hero {
    margin: 0 .2em;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.image-1, .image-2, .image-3 {
  position: relative;
  overflow: hidden;
  background: #000000;
  width: 480px;
  height: 384px;
}

.alex {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(55%, rgba(0, 0, 0, 0.591474)), to(rgba(0, 0, 0, 0.2))), url("/img/alex mw.jpg");
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.591474) 55%, rgba(0, 0, 0, 0.2) 100%), url("/img/alex mw.jpg");
  z-index: -100;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  transition: -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  transition: transform .5s, filter .3s ease-in-out;
  transition: transform .5s, filter .3s ease-in-out, -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.alex:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.img {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(55%, rgba(0, 0, 0, 0.583071)), to(rgba(0, 0, 0, 0))), url("/img/cod4.png");
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.583071) 55%, rgba(0, 0, 0, 0) 100%), url("/img/cod4.png");
  z-index: -100;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  transition: -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  transition: transform .5s, filter .3s ease-in-out;
  transition: transform .5s, filter .3s ease-in-out, -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.police {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(55%, rgba(0, 0, 0, 0.583071)), to(rgba(0, 0, 0, 0))), url("/img/modern warfare.jpg");
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.583071) 55%, rgba(0, 0, 0, 0) 100%), url("/img/modern warfare.jpg");
  z-index: -100;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  transition: -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  transition: transform .5s, filter .3s ease-in-out;
  transition: transform .5s, filter .3s ease-in-out, -webkit-transform .5s, -webkit-filter .3s ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-filter: brightness(10 0%);
          filter: brightness(10 0%);
}

.police:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(250%);
          filter: brightness(250%);
}

@media only screen and (min-width: 1440px) {
  .image-1, .image-2, .image-3 {
    width: 640px;
  }
}

@media only screen and (min-width: 1024px) {
  .image-1, .image-2, .image-3 {
    width: 341,3px;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-1, .image-2, .image-3 {
    width: 100%;
    height: 50vh;
  }
}

.text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 8%;
  bottom: 8%;
  right: 0;
  color: #D9D0D0;
  z-index: 150;
}

.text-img h1 {
  text-transform: uppercase;
  color: #D9D0D0;
  font-size: 22px;
  font-weight: 400;
  font-size: "Roboto", sans-serif;
  letter-spacing: .8px;
}

.text-img p {
  letter-spacing: .5px;
  font-size: 14px;
  padding-bottom: 8px;
}

.text-img .btn-learn {
  border: 1px solid #597985;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  font-size: 14px;
  padding: 8px 20px;
  -webkit-box-shadow: inset 0px 0px 5px #597985;
          box-shadow: inset 0px 0px 5px #597985;
  color: #959595;
}

.text-img .btn-learn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  background: white;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.text-img .btn-learn:hover::before, .text-img .btn-learn:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-img .btn-learn:hover {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: black;
  z-index: 1;
}

.text-img .btn-learn-2 {
  border: 1px solid #597985;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  font-size: 14px;
  padding: 8px 20px;
  -webkit-box-shadow: inset 0px 0px 5px #597985;
          box-shadow: inset 0px 0px 5px #597985;
  color: #959595;
}

.text-img .btn-learn-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  background: white;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.text-img .btn-learn-2:hover::before, .text-img .btn-learn-2:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-img .btn-learn-2:hover {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: black;
  z-index: 1;
}

.text-img .btn-learn-2::before {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.text-img .btn-learn-3 {
  border: 1px solid #597985;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  font-size: 14px;
  padding: 8px 20px;
  -webkit-box-shadow: inset 0px 0px 5px #597985;
          box-shadow: inset 0px 0px 5px #597985;
  color: #959595;
}

.text-img .btn-learn-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  background: white;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.text-img .btn-learn-3:hover::before, .text-img .btn-learn-3:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.text-img .btn-learn-3:hover {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: black;
  z-index: 1;
}

.text-img .btn-learn-3::before {
  -webkit-transform-origin: right;
          transform-origin: right;
}

#plat {
  position: relative;
  padding: 8em 0;
  background: #000000;
}

.platfrom {
  width: 100%;
  padding: 4em 2em;
  height: 100%;
}

.platfrom .text-plat {
  text-align: center;
  color: #dbdbdb;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: .9px;
  padding-bottom: 1em;
}

.os-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 0;
  padding-bottom: 2em;
}

.os-team .os {
  border: 1px solid white;
  margin: 0 1em;
  width: 370px;
  height: 274px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.os-team .os .xbox {
  width: 100%;
  height: 100%;
  color: red;
}

.ps {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 65%;
}

.windows {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 75%;
  right: 13%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .platfrom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .os-team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .os-team .os {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 427px) {
  .platfrom {
    padding: 4em 1em;
  }
  .os-team {
    margin: 0;
  }
  .os-team .os {
    width: 300px;
    height: 300px;
  }
}

.change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.change .change-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.change label {
  margin-left: 10px;
}

.change label .cod, .change label .ice-cream {
  position: relative;
  background: transparent;
  color: #dbdbdb;
  border: none;
}

.change label .cod::before, .change label .ice-cream::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: red;
}

.change label .cod option, .change label .ice-cream option {
  color: black;
  background: transparent;
}

.result, .hasil {
  color: white;
  font-size: 14px;
}

.map {
  width: 100%;
  overflow: hidden;
  padding-top: 2em;
  background: black;
}

.map-img {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  height: 100vh;
}

.map-img .img-map {
  background: url("/img/soldier.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  background-position-x: -60px;
  width: 100%;
  height: 100%;
}

.map-img .map-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-30%, -10%);
          transform: translate(-30%, -10%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 5;
}

.map-img .map-text h2 {
  -webkit-filter: drop-shadow(2px 2px 10px #000000);
          filter: drop-shadow(2px 2px 10px #000000);
  color: white;
  letter-spacing: 3px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  line-height: 50px;
}

.btn-map {
  padding: 8px 50px;
  border: 1px solid #d8d8d8;
  margin-top: 1em;
  color: #959595;
  letter-spacing: .5px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.btn-map:hover {
  color: #6b6b6b;
  background: white;
}

@media only screen and (min-width: 1440px) {
  .map-img {
    width: 50%;
    height: 85vh;
    background-position-x: -60px;
  }
}

@media only screen and (max-width: 1024px) {
  .map-img {
    width: 100%;
    height: 100%;
  }
  .map-img .img-map {
    width: 100%;
    height: 90vh;
    background-position-x: -450px;
    background-position-y: 80px;
  }
  .map-img .map-text {
    left: 38%;
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
  }
}

@media only screen and (max-width: 880px) {
  .map-img .img-map {
    background-position-x: -700px;
    background-position-y: 20px;
  }
  .map-img .map-text {
    -webkit-transform: translate(-30%, -10%);
            transform: translate(-30%, -10%);
  }
  .map-img .map-text h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 660px) {
  .map-img .img-map {
    background-position: 60%, 10%;
  }
  .map-img .map-text {
    text-align: center;
    width: 98%;
    margin: auto;
    -webkit-transform: translate(-35%);
            transform: translate(-35%);
  }
  .map-img .map-text h2 {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 40px;
  }
}

.bg-custom {
  background: url("/img/bg/Group 4.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 55vh;
}

.sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5em 0;
  width: 90%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-sponsor {
  width: 720px;
  margin-right: 10em;
}

.img-sponsor img {
  width: 100%;
  height: 100%;
}

.text-sponsor {
  color: white;
  text-transform: uppercase;
}

.text-sponsor ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
}

.text-sponsor ul li {
  padding: 0 1em 1em 1em;
  letter-spacing: .4px;
}

.text-sponsor ul li a {
  color: #959595;
}

.text-sponsor ul li a:hover {
  text-decoration: underline;
}

.text-sponsor .ruu {
  padding: 0 .2em;
  margin: 2em 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.text-sponsor .ruu p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #d6d6d6;
  font-size: 11px;
  padding-left: 1em;
}

@media only screen and (max-width: 876px) {
  .bg-custom {
    height: 100vh;
  }
  .sponsor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding: 0;
    padding-top: 4em;
    height: 100%;
    margin: auto;
  }
  .img-sponsor {
    width: 660px;
    padding-left: 1em;
    position: relative;
  }
  .img-sponsor img {
    width: 100%;
    height: 100%;
  }
  .text-sponsor {
    margin-top: 2em;
  }
  .img-sponsor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-sponsor img {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */